# Simple APIs

## Random User and Fruitvice API Examples

This notebook is to provide more examples on how to use simple APIs. API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other.

The advantages of using APIs:
    
**Automation** Less human effort is required and workflows can be easily updated to become faster and more productive.

**Efficiency** It allows use of the capabilities of one of the already deveolped API's than to try to inderpendently implement some functionality from scratch.

The disadvantage of using APIs:

**Security** If the API is porrly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications used in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purpuses. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. 

Another example of simple API we will use is Fruitvice application. The Fruitvice API webservice which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The webservice is completely free to use and contribute to.

## Example 1: RandomUser API

Below are **GEt Methods** parameters that we can generate.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install **randomuser** library running the **pip install** command.

In [25]:
!pip install randomuser

Requirement already satisfied: randomuser in c:\anaconda\envs\keymc\lib\site-packages (1.6)

Then, we will load the necessary libraries.

In [26]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [27]:
r = RandomUser()

Then, using **generat_users()** function, we get a list of random 10 users.

In [28]:
some_list = r.generate_users(10)

In [29]:
some_list

[<randomuser.RandomUser at 0x24dc9f1ab90>,
 <randomuser.RandomUser at 0x24dc9f1abd0>,
 <randomuser.RandomUser at 0x24dc9f1ac10>,
 <randomuser.RandomUser at 0x24dc9f1ac50>,
 <randomuser.RandomUser at 0x24dc9f1ac90>,
 <randomuser.RandomUser at 0x24dc9f1ad10>,
 <randomuser.RandomUser at 0x24dc9f1ad50>,
 <randomuser.RandomUser at 0x24dc9f1ad90>,
 <randomuser.RandomUser at 0x24dc9f181d0>,
 <randomuser.RandomUser at 0x24dc9f1acd0>]

The **Get Methods** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call **get_full_name()** function.

In [30]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [31]:
for user in some_list:
    print (user.get_full_name()," ", user.get_email())

Leo Huhtala   leo.huhtala@example.com
Alfred Pedersen   alfred.pedersen@example.com
Huguette Pierre   huguette.pierre@example.com
Margarethe Püschel   margarethe.puschel@example.com
Ewald Brand   ewald.brand@example.com
Iida Jarvi   iida.jarvi@example.com
Nevaeh Singh   nevaeh.singh@example.com
Johan Sørensen   johan.sorensen@example.com
رها صدر   rh.sdr@example.com
Manuele Jesus   manuele.jesus@example.com

Generate photos of the random users.

In [32]:
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/10.jpg
https://randomuser.me/api/portraits/men/55.jpg
https://randomuser.me/api/portraits/women/50.jpg
https://randomuser.me/api/portraits/women/29.jpg
https://randomuser.me/api/portraits/men/83.jpg
https://randomuser.me/api/portraits/women/88.jpg
https://randomuser.me/api/portraits/women/2.jpg
https://randomuser.me/api/portraits/men/25.jpg
https://randomuser.me/api/portraits/women/87.jpg
https://randomuser.me/api/portraits/women/94.jpg

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the **Get Methods**, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [33]:
def get_users():
    users = []
    
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(), "Gender": user.get_gender(), "City": user.get_city(), "State": user.get_state(), "Email": user.get_email(), "DOB": user.get_dob(), "Picture": user.get_picture()})
        
    return pd.DataFrame(users)

In [34]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Signe Pedersen,female,Amager,Syddanmark,signe.pedersen@example.com,1989-04-02T17:36:12.114Z,https://randomuser.me/api/portraits/women/95.jpg
1,Rasmus Olsen,male,Fredeikssund,Hovedstaden,rasmus.olsen@example.com,1974-05-04T21:14:21.489Z,https://randomuser.me/api/portraits/men/2.jpg
2,Ayla Moore,female,Blenheim,Wellington,ayla.moore@example.com,1963-02-17T06:09:28.838Z,https://randomuser.me/api/portraits/women/52.jpg
3,Oscar Cortes,male,San Sebastián de Los Reyes,Canarias,oscar.cortes@example.com,1984-07-09T02:55:46.956Z,https://randomuser.me/api/portraits/men/71.jpg
4,Medina Wickstrøm,female,Longum,Aust-Agder,medina.wickstrom@example.com,1983-01-31T12:15:15.159Z,https://randomuser.me/api/portraits/women/56.jpg
5,Susanne Omahony,female,Mallow,Kilkenny,susanne.omahony@example.com,1957-12-02T13:45:03.161Z,https://randomuser.me/api/portraits/women/25.jpg
6,Kim Hale,female,Edinburgh,Lincolnshire,kim.hale@example.com,1989-12-07T01:42:30.258Z,https://randomuser.me/api/portraits/women/74.jpg
7,محمدپارسا زارعی,male,بندرعباس,ایلام,mhmdprs.zraay@example.com,1983-05-05T09:42:31.526Z,https://randomuser.me/api/portraits/men/67.jpg
8,Kelly Allen,female,Aberdeen,Norfolk,kelly.allen@example.com,1976-09-20T13:02:03.304Z,https://randomuser.me/api/portraits/women/20.jpg
9,Judith Ellis,female,St Davids,Derbyshire,judith.ellis@example.com,1963-05-12T10:27:47.389Z,https://randomuser.me/api/portraits/women/56.jpg

In [35]:
df1 = pd.DataFrame(get_users())

Now we have a **pandas** dataframe that can be used for any testing purposes that the tester might have.

## Example: Fruitvice API

Another, more common way to use API's, is through **requests** library.

We will start by importing all required libraries

In [36]:
import requests
import json

We will obtain the [fruitvice](https://www.fruityvice.com/?utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2023-01-01) API data using **requests.get('url')** funtion. The data is in a json format.

In [37]:
data = requests.get('https://fruityvice.com/api/fruit/all')

We will retrieve results using **json.loads()** function.

In [38]:
results = json.loads(data.text)

We will convert our json data into **pandas** data frame.

In [39]:
pd.DataFrame(results)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."
10,Pineapple,10,Bromeliaceae,Poales,Ananas,"{'calories': 50, 'fat': 0.12, 'sugar': 9.85, '..."
11,Fig,68,Moraceae,Rosales,Ficus,"{'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'c..."
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,"{'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'ca..."
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,"{'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'c..."
14,Plum,71,Rosaceae,Rosales,Prunus,"{'calories': 46, 'fat': 0.28, 'sugar': 9.92, '..."
15,Orange,2,Rutaceae,Sapindales,Citrus,"{'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'ca..."
16,GreenApple,72,Rosaceae,Rosales,Malus,"{'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'ca..."
17,Raspberry,23,Rosaceae,Rosales,Rubus,"{'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'ca..."
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,"{'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'ca..."
19,Lemon,26,Rutaceae,Sapindales,Citrus,"{'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'ca..."
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,"{'calories': 60, 'fat': 0.38, 'sugar': 13.7, '..."
21,Blueberry,33,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
22,Apple,6,Rosaceae,Rosales,Malus,"{'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'c..."
23,Guava,37,Myrtaceae,Myrtales,Psidium,"{'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'ca..."
24,Apricot,35,Rosaceae,Rosales,Prunus,"{'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'ca..."
25,Papaya,42,Caricaceae,Caricacea,Carica,"{'calories': 43, 'fat': 0.4, 'sugar': 1.0, 'ca..."
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,"{'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'ca..."
27,Tangerine,77,Rutaceae,Sapindales,Citrus,"{'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'ca..."
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,"{'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'ca..."
29,Lime,44,Rutaceae,Sapindales,Citrus,"{'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'ca..."
30,Pomegranate,79,Lythraceae,Myrtales,Punica,"{'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'c..."
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,"{'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'ca..."
32,Grape,81,Vitaceae,Vitales,Vitis,"{'calories': 69, 'fat': 0.16, 'sugar': 16.0, '..."
33,Morus,82,Moraceae,Rosales,Morus,"{'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'c..."
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,"{'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'ca..."
35,Avocado,84,Lauraceae,Laurales,Persea,"{'calories': 160, 'fat': 14.66, 'sugar': 0.66,..."
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,"{'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'ca..."
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,"{'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'ca..."
38,Cherry,9,Rosaceae,Rosales,Prunus,"{'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'ca..."
39,Peach,86,Rosaceae,Rosales,Prunus,"{'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'c..."
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,"{'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'c..."
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,"{'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'c..."
42,Hazelnut,96,Betulaceae,Fagales,Corylus,"{'calories': 628, 'fat': 61.0, 'sugar': 4.3, '..."
43,Pomelo,98,Rutaceae,Sapindales,Citrus,"{'calories': 37, 'fat': 0.0, 'sugar': 8.5, 'ca..."
44,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,"{'calories': 73, 'fat': 0.58, 'sugar': 16.11, ..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [40]:
df2 = pd.json_normalize(results)

In [41]:
df2

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Papaya,42,Caricaceae,Caricacea,Carica,43,0.40,1.00,11.00,0.00
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
27,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
29,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
32,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
33,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
35,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
38,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
39,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78
42,Hazelnut,96,Betulaceae,Fagales,Corylus,628,61.00,4.30,17.00,15.00
43,Pomelo,98,Rutaceae,Sapindales,Citrus,37,0.00,8.50,9.67,0.82
44,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73,0.58,16.11,17.91,0.41

Let's see if we can extract some information from this dataframe.
Perhaps, we need to know the family and genus of a cherry.

In [42]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']), (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2

In this Exercise, find out how many calories are contained in a banana.

In [43]:
banana = df2.loc[df2['name']=='Banana']
(banana.iloc[0]['nutritions.calories'])

96

## Exercise 3

This [page](https://github.com/public-apis/public-apis#animals) contains a list of free public APIs. Choose any API of your interest and use it to load/extract some information, as shown in the example above.

1. Using **requests.get('url')** funtion, load your data.

## Import the 'request' Module:

First you need to import the 'request' module, which provides functions for making HTTP requests. You can do this by adding the following line at the beginning of your Python script:

In [16]:
import requests

## Make the **GET Request**:

Use the **request.get('url')** function to make an HTTP GET request to the desired URL. Replace **'url'** with the actual URL you want to request data from. For example:

In [38]:
response = requests.get('https://cat-fact.herokuapp.com/facts')

In [ ]:
response = requests.get('https//example.com/api/data')

In this example, we're requesting data from **https://example.com/api/data**. Replace it with the URL of the website or API you want to access.

## Handle the Response:

The **response** variable now contains the server's response to your request. You can access varius properties of the response, such as its content, status code, headers, and more. Here are some common properties:

    - **response.text**: This property contains the response content as a string. You can use it to access the HTML content of a web page or JSON data from an API.
    - **response.status_code**: This property contains the HTTP status code returned by the server, such as 200 for a successful request, 404 for 'Not Found,' or 500 for ' Internal Server Error.'
    - **response.headers**: This property contains the HTTP headers sent by the server.

## Check the Status Code:

It's essential to check the HTTP status code to determine whether your request was successful. You can use conditional statements to handle different status codes appropriately.
For exmaple:

In [39]:
if response.status_code == 200: 
    # Request was successful
    print("Request was successful")
elif response.status_code == 404:
    # Resourse not found
    print("Resource not found")
else:
    # Handle other status codes as needed
    print("Other status code:", response.status_code)

Request was successful

## Use the Response Data:

Once you have received the response, you can use the **response.text** property to access the data returned by the server. Depending on the content type (HTML, JSON, XML, etc.), you can parse and work with the data accordingly.

Here's a complete example:

In [58]:
import requests

# Make an HTTP GET request
response = requests.get('https://cat-fact.herokuapp.com/facts')


# Check the status code
if response.status_code == 200:
    # Request was successful
    data = response.json()  # Assuming the response contains JSON data
    print("Data received:", data)
else:
    print("Failed to fetch data. Status code:", response.status_code)

Data received: [{'status': {'verified': True, 'sentCount': 1}, '_id': '58e00b5f0aac31001185ed24', 'user': '58e007480aac31001185ecef', 'text': 'When asked if her husband had any hobbies, Mary Todd Lincoln is said to have replied "cats."', '__v': 0, 'source': 'user', 'updatedAt': '2020-08-23T20:20:01.611Z', 'type': 'cat', 'createdAt': '2018-02-19T21:20:03.434Z', 'deleted': False, 'used': False}, {'status': {'verified': True, 'feedback': '', 'sentCount': 1}, '_id': '5887e1d85c873e0011036889', 'user': '5a9ac18c7478810ea6c06381', 'text': 'Cats make about 100 different sounds. Dogs make only about 10.', '__v': 0, 'source': 'user', 'updatedAt': '2020-09-03T16:39:39.578Z', 'type': 'cat', 'createdAt': '2018-01-15T21:20:00.003Z', 'deleted': False, 'used': True}, {'status': {'verified': True, 'sentCount': 1}, '_id': '58e008780aac31001185ed05', 'user': '58e007480aac31001185ecef', 'text': 'Owning a cat can reduce the risk of stroke and heart attack by a third.', '__v': 0, 'source': 'user', 'updatedAt': '2020-08-23T20:20:01.611Z', 'type': 'cat', 'createdAt': '2018-03-29T20:20:03.844Z', 'deleted': False, 'used': False}, {'status': {'verified': True, 'sentCount': 1}, '_id': '58e009390aac31001185ed10', 'user': '58e007480aac31001185ecef', 'text': "Most cats are lactose intolerant, and milk can cause painful stomach cramps and diarrhea. It's best to forego the milk and just give your cat the standard: clean, cool drinking water.", '__v': 0, 'source': 'user', 'updatedAt': '2020-08-23T20:20:01.611Z', 'type': 'cat', 'createdAt': '2018-03-04T21:20:02.979Z', 'deleted': False, 'used': False}, {'status': {'verified': True, 'sentCount': 1}, '_id': '58e00af60aac31001185ed1d', 'user': '58e007480aac31001185ecef', 'text': 'It was illegal to slay cats in ancient Egypt, in large part because they provided the great service of controlling the rat population.', '__v': 0, 'source': 'user', 'updatedAt': '2020-09-16T20:20:04.164Z', 'type': 'cat', 'createdAt': '2018-01-15T21:20:02.945Z', 'deleted': False, 'used': True}]

In [ ]:
import requests

# Make an HTTP GET request
response = requests.get('https://jsonplaceholder.typicode.com/posts/')

# Check the status code
if response.status_code == 200:
    # Request was successful
    data = response.json()  # Assuming the response contains JSON data
    print("Data received:", data)
else:
    print("Failed to fetch data. Status code:", response.status_code)

This example makes a **GET** request to a JSONPlaceholder API endpoint and retrieves JSON data. Depending on your use case, you may need to handle the data differently, such as parsing HTML content for web scraping or using diffeent libraries for working with various data formats.

In [59]:
import pandas as pd

In [60]:
pd.DataFrame(data)

,status,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used
0,"{'verified': True, 'sentCount': 1}",58e00b5f0aac31001185ed24,58e007480aac31001185ecef,"When asked if her husband had any hobbies, Mar...",0,user,2020-08-23T20:20:01.611Z,cat,2018-02-19T21:20:03.434Z,False,False
1,"{'verified': True, 'feedback': '', 'sentCount'...",5887e1d85c873e0011036889,5a9ac18c7478810ea6c06381,Cats make about 100 different sounds. Dogs mak...,0,user,2020-09-03T16:39:39.578Z,cat,2018-01-15T21:20:00.003Z,False,True
2,"{'verified': True, 'sentCount': 1}",58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False
3,"{'verified': True, 'sentCount': 1}",58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False
4,"{'verified': True, 'sentCount': 1}",58e00af60aac31001185ed1d,58e007480aac31001185ecef,"It was illegal to slay cats in ancient Egypt, ...",0,user,2020-09-16T20:20:04.164Z,cat,2018-01-15T21:20:02.945Z,False,True

In [61]:
df3 =pd.DataFrame(data)

In [62]:
df3.drop(columns="status", inplace =True)
df3

,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used
0,58e00b5f0aac31001185ed24,58e007480aac31001185ecef,"When asked if her husband had any hobbies, Mar...",0,user,2020-08-23T20:20:01.611Z,cat,2018-02-19T21:20:03.434Z,False,False
1,5887e1d85c873e0011036889,5a9ac18c7478810ea6c06381,Cats make about 100 different sounds. Dogs mak...,0,user,2020-09-03T16:39:39.578Z,cat,2018-01-15T21:20:00.003Z,False,True
2,58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False
3,58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False
4,58e00af60aac31001185ed1d,58e007480aac31001185ecef,"It was illegal to slay cats in ancient Egypt, ...",0,user,2020-09-16T20:20:04.164Z,cat,2018-01-15T21:20:02.945Z,False,True