# Data Science Tools and Ecosystem

## __Objectives:__
- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- List Data Science Tools
- Show different types of mathmatical expressions

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript (not be related to Java)

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib (visualization)
4. Seaborn (visualization)
S. Scikit Learn (machine learning)
6. Apache Spark (general purpose)
7. Scala (Vegas)
8. R (ggplot2)

| Data Science Tools |
| ------------------ |
| Code Asset Management |
| Data Asset Management |
| Execution Environment |
| Development Environment |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 * 3 # Multiplication

[1] 6

In [2]:
4 - 1 # Subtraction

[1] 3

In [3]:
a <- 1 # Assigning 1 to the variable called "a"
a + 2 # Adding 2

[1] 3

In [1]:
### This is a simple arithmetic expression to multiply then add integers
( 3 * 4 ) + 5

17

In [7]:
### This will convert 200 minutes to hours by dividing by 60
x = 200 
y = x / 60
print ( y )

3.3333333333333335

## Author
Mickey McCall

# ***STRINGS***

In [3]:
name = "Mickey McCall"
name[ 1 ]

'i'

In [4]:
len (name)

13

## The zero starts the index of positive numbers the space between y and M is sequence # 6
| M i c k e y   M c C  a  l  l |
|--------------------------|
| 0 1 2 3 4 5 6 7 8 9 10 11 12 |

### Remember because the index starts with 0 the string is still 13 characters long. so len(name) will be 13 not 12.

In [7]:
name [ 0 : 4 ] # Output will be Mick

'Mick'

In [9]:
name [ 7 : 11 ] # Out put will be McCa

'McCa'

### Remember the negative indexing of a string starts from -1 at the end of the string. Example Mickey McCall the last "l" will be -1 and (M) in Mickey will be -13

### Slicing Strings

### When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

In [11]:
name [ -13 : -9 ] # Output will be Mick

'Mick'

In [12]:
type (name)

str

### Stride Strings

In [8]:
# This is called striding

name [ :: 2 ] # The 2 indicates selecting every 2nd variable

'Mce cal'

### Incorporate slicing with the stride. we can select the first five elements and then use the stride:

In [9]:
# Get every second element in the range between index 0 to index 4

name [ 0 : 5 : 2 ]

'Mce'

## Concatenate Strings

In [10]:
# Using addition symbol can make new string or "concatenate"

statement = name + " is the best "
statement

'Mickey McCall is the best '

### To replicate values of a string we simply multiply the string by the number of times we would like to replicate it.

In [20]:
3 * "Mickey McCall" # this should be three copies of the orginial name string

'Mickey McCallMickey McCallMickey McCall'

In [21]:
name

'Mickey McCall'

In [11]:
3 * name

'Mickey McCallMickey McCallMickey McCall'

In [74]:
name = " Mickey McCall "
name

' Mickey McCall '

In [27]:
name = name + " is the best "
name

' Mickey McCall  is the best '

## backslash are meant to proceed escape sequences
## ***Escape sequences*** are strings that are difficult to input

## backlash \n is a new line

In [29]:
print ( " Mickey McCall \n is the best " )

 Mickey McCall
 is the best

## backlash \t is where a tab should be

In [30]:
print ( " Mickey McCall \t is the best " )

 Mickey McCall 	 is the best

## to place a backslash \ in your string use a double backslash \\

In [31]:
print ( " Mickey McCall \\ is the best " )

 Mickey McCall \ is the best

### to place multiple backslashes through out your string preceed the the string with r

In [35]:
print ( r" Mickey McCall \ is the best " ) #Out put is same as above

 Mickey McCall \ is the best

#  String Operations

### Upper is a method to convert lower case characters to upper case characters

In [17]:
## Examples of Methods

A = " Thriller is the sixth studio album "
A

' Thriller is the sixth studio album '

In [18]:
B= A.upper() # This will change lowercase characters to uppercase characters as varible B

In [38]:
B

' THRILLER IS THE SIXTH STUDIO ALBUM '

In [19]:
A

' Thriller is the sixth studio album '

In [20]:
A . upper ( )

' THRILLER IS THE SIXTH STUDIO ALBUM '

In [21]:
B . lower ( )

' thriller is the sixth studio album '

In [13]:
# Convert all the characters in string to upper case

a = " Thriller is the sixth studio album "
print ( "before upper : ", a )
b = a . upper ( )
print ( " After upper : ", b )

before upper :   Thriller is the sixth studio album
 After upper :   THRILLER IS THE SIXTH STUDIO ALBUM

## The method replace, replaces a segment of the string

In [82]:
A= " Mickey McCall is the best " 
A

' Mickey McCall is the best '

In [83]:
B = A.replace ( 'Mickey' , ' Dawn ' ) # The output should replace Mickey with Dawn
B

'  Dawn  McCall is the best '

## The method find is to find substrings

In [49]:
name = " Mickey McCall "
name

' Mickey McCall '

In [79]:
name = ( "Mickey McCall" )

In [60]:
name.find ( 'ey' ) # ey is the argument the output is the first index of the sequence

5

In [58]:
name.find ("McCa")

8

In [61]:
name.find ( 'Mick' )

1

In [62]:
name.find ( 'ick')

2

In [63]:
name.find ( 'c' )

3

In [64]:
name.find ( 'cC' )

9

In [65]:
name [:: 3 ]

' cycl'

In [67]:
name [ 0 : 13 : 3 ]

' cycl'

In [68]:
name [ 13 ]

'l'

In [69]:
name [ 0 : 13 ]

' Mickey McCal'

In [83]:
name [0 : 17]

'Mickey McCall'

In [84]:
name.find ('keymc')

-1

In [85]:
type (name)

str

In [86]:
bool (name)

True

### If "find" cannot find the substring in the string

In [14]:
name . find ( ' Jasdfasdasdf ' )

-1

### Strings will put anything you put in them into the code.
### "Mickey" is not the same as " Mickey ". The first one looks for Mickey, the second looks for "space"Mickey.

In [24]:
x = 1
x = x + 1
x

2

In [25]:
1 + 3 * 2

7

In [26]:
type ("7.1" )

str

In [27]:
int (True)

1

In [28]:
'1' + '2'

'12'

In [29]:
myvar = 'hello'
myvar. upper ( )

'HELLO'

In [30]:
str ( 1+1)

'2'

In [31]:
'123'.replace ("12", "ab")

'ab3'

In [36]:
x = 2/2
x
type (x)

float

# This was from Week 2 of Python for Data Science, AI & Deployment

### Lists in Python

Imagine you received album recommendations from your friends and compiled all of the recommandations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **Artist** - Name of the artist
*   **Album** - Name of the album
*   **Released_year** - Year the album was released
*   **Length_min_sec** - Length of the album (hours,minutes,seconds)
*   **Genre** - Genre of the album
*   **Music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Released** - Date on which the album was released
*   **Soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **Rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The Dataset can be seen below:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleet wood Mac</td>
    <td> Rumours </td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="1000">

### To create a list, type the list within square brackets [], with your content inside the parenthesis and separated by commas.

In [47]:
# Create a list

L= [ "Michael Jackson", 10.1, 1982 ]
L

['Michael Jackson', 10.1, 1982]

### Negative and regular indexing can be used with lists:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="1000">

In [54]:
# Print the elements on each index

print ('the same element using negative and positive indexing: \n Postive:', L[0],'\n Negative:', L[-3] )
print ('the same element using negative and positive indexing: \n Postive: ', L[1], '\n Negative:', L[-2])
print ('the same element using positive and negative indexing: \n Negative:', L[-1], '\n Positive:', L[2])

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive:  10.1
 Negative: 10.1
the same element using positive and negative indexing:
 Negative: 1982
 Positive: 1982

In [56]:
L

['Michael Jackson', 10.1, 1982]

In [58]:
## List Slicing

L[3:5]

[]

In [59]:
# Use Extend to add new elments to a list

L.extend (['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [61]:
# Append adds one element to the list.

L=['Michael Jackson', 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [62]:
# Use append to add elements to list

L.append (['a','b'])
L

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b']]

## Lists are ***MUTABLE*** so they can be changed

In [63]:
# Change the element based on the index

A= ['disco', 10, 1.2]
print ('Before change:',A)
A[0] ='hard rock'
print ('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

## Changes in list can be made with DELETE command (DEL)

In [64]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

##  Can convert a string using ***split***. The method translates every group of characters separated by a space into an element in a list:

In [66]:
# Split the string, default is by space

'hard rock'. split()

['hard', 'rock']

In [67]:
# this is practice spliting

'milk and cookies'.split()

['milk', 'and', 'cookies']

## Delimiter. This is used to separate strings on a specific character below using ',' as the delimiter.

In [69]:
"Taco Bell, McDonald's, BurgerKing, Paiks, Subway".split(',')

['Taco Bell', " McDonald's", ' BurgerKing', ' Paiks', ' Subway']

## Copy and Clone List

When we set one variable B equal to A, both A and B are referencing the same list in memory:

In [70]:
# Copy (copy by reference) the list A

A= ['hard rock', 10, 1.2]
B= A
print ('A:',A)
print ('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRef.png" width="1000" align="center">

## If List A is changed to Banana from hard rock, then list B will also change to Banana.

In [72]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = 'banana'
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRefGif.gif" width="1000">

In [73]:
# You can clone list A by using the following syntax:

B=A[:]
B

['banana', 10, 1.2]

Variable **B** references a new copy or clone of the original list. This is demonstrated in the following figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsVal.gif" width="1000">

## Now if you change A. B will not change:

In [75]:
print ('B[0]:' , B[0])
A[0] = 'hard rock'
print ('B[0]:', B[0])

B[0]: banana
B[0]: banana

# Task: Create an empty list

In [84]:
Shopping_list=[]

# Store a number of items in the list.

In [93]:
Shopping_list=['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

# Add new item to the Shopping_list

In [94]:
Shopping_list.append('Football')
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

# Print first item on the shopping_list

In [95]:
print(Shopping_list[0])

Watch

# Print last item on the shopping_list

In [96]:
print(Shopping_list[-1])

Football

# Print the entire Shopping List

In [97]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

# Print the items that are important to buy from the Shopping list Laptop and Shoes

In [98]:
print(Shopping_list[1:3])

['Laptop', 'Shoes']

# Change the item from the shopping list Pen to Notebook

In [99]:
Shopping_list[3]='Notebook'  #The 3 is the index of pen.
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

# Delete the Clothes from the shopping list

In [100]:
del(Shopping_list[4]) # The 4 is the index of Clothes
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

# Print the shopping list

In [101]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

# Dictionaries

## What are Dictionaries?

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.   


The best example of a dictionary can be accessing person's detais using the **social security number**.   
Here the social security number which is a unique number will be the **key** and the details of the people will be the **values** associated with it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650">

## Create a Dictionary and access the elements

An example of a Dictionary <code>Dict</code>:
Here we are creating a dictionary named **Dict** with he following details

* Keys are **key1, key2, key3, key4, key5**.
* Values are {1,2,[3,3,3],(4,4,4),5,(0,1):6} corresponding to the keys

In [4]:
# Create the dictionary

Dict = {'key1': 1, 'key2': '2', 'key3': [3,3,3], 'key4': (4,4,4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

### The keys can be strings:

In [5]:
# Access to the value by the key

Dict['key1']

1

### Keys can also be any immutable object such as a tuple:

In [7]:
# Access to the value by the key a (tuple) in this case:

Dict[(0, 1)]

6

Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

In [11]:
Curly_Braces={'key1': ('mc'), 'key2': 'mic'} # My Curly_Braces Dictionary

Curly_Braces

{'key1': 'mc', 'key2': 'mic'}

In [13]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### The above dictionary the keys are the title of the music and the year is the value it accesses.

### It is helpful to visuallie the dictionary as a table, as the following image. The first column represents the keys, the second column represents the values

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsStructure.png" width="650">

## Keys will get you the values, but you can get keys based on their values:

In [15]:
# Get value by keys

release_year_dict['Thriller']

'1982'

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsKeyOne.png" width="500">

### Similarly for **The Bodyguard**

In [16]:
# Get value by the key

release_year_dict['The Bodyguard']

'1992'

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsKeyTwo.png" width="500">

### Now let us retrieve the keys of the dictionary using the method ***dictionary.keys()***

In [17]:
# Get all the keys in the dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

### You can retrieve the values using the method ***dictionary.values()***

In [18]:
# Get all the values in the dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

### We can ***add*** and entry in this form: ***Dictionary ['key']= 'value'***

In [20]:
# Append value with key into dictionary

release_year_dict['Graduation']= '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

### We can ***Delete*** and entry: del from the dictionary using key:  ***del(dictionary)['key'])***

In [21]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### We can verfiy if an element is ***IN*** the dictionary using this form:  ***'key' in dictionary***

In [22]:
# Verify the key is IN the dictionary

'The Bodyguard' in release_year_dict

True

### If the key is not in the dictionary you will get a output of False

# Sets

## A set is a unique collection of objects in Python. You can denote a set with a pair of ***{}***. Python will automatically remove duplicate items:

In [23]:
# Create a set

set1 = {'pop', 'rock', 'soul', 'hard rock', 'rock', 'R&B' , 'rock', 'disco'}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

The process of mapping is illustrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnique.png" width="1100">

### You can also create a set from a list as follows:

In [32]:
# Convert list to set

album_list = ['Michael Jackson', 'Thriller', 1982, '00:42:19', \
              'Pop, Rock, R&B', 46.0, 65, '30-Nov-82', None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

## Set Operartions- used to change the set

In [33]:
# Sample set A

A = set(['Thiller', 'Back in Black', 'AC/DC'])
A

{'AC/DC', 'Back in Black', 'Thiller'}

### We can add an element to a set using ***.add()***

In [34]:
# Add element to set

A.add('NSYNC')
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thiller'}

### The same element cannot be added twice.

### To remove an element from a set use ***.remove()***

In [35]:
# Remove the element from the set

A.remove('NSYNC')
A

{'AC/DC', 'Back in Black', 'Thiller'}

### We can verify if an element is in the set using ***in*** command:

In [36]:
# Verify if the element is in the set

'AC/DC' in A

True

### If the element is not in the set you will get a False.

## Sets Logic Operations

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

Consider the following two sets:

In [39]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsSamples.png" width="650">

In [41]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

As both sets contain <b>AC/DC</b> and <b>Back in Black</b> we represent these common elements with the intersection of two circles.

![SetsLogic.png](attachment:a9267f54-6009-4160-a6d2-436b99b140ea.png)<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLogic.png" width="650">

You can find the intersect of two sets as follow using <code>&</code>:

In [58]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method: ***set1.difference(set2 or whatever set)***

In [44]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

You only need to consider elements in ***album_set1*** all the elements in ***album_set2*** including the intersection are not included

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLeft.png" width="650">

If you want the elements only in ***album_set2*** but not in ***album_set1*** you use this:

In [47]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsRight.png" width="650">

You can also find t he intersection of ***album_list1*** and ***album_list2*** using the **intersection** method:

In [48]:
# use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

This corresponds to the intersection of the two circles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsIntersect.png" width="650">

The union corresponds to the elements in ***both*** sets, which is represented by coloring both circles:  ***These circles represent Venn Diagrams***

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnion.png" width="650">

In [49]:
# To find the union of two sets you use:

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

You can check if a set is a ***superset*** or a **subset** using ***.issuperset*** or **.issubset**

In [51]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [53]:
# Check if subset

set(album_set2).issubset(album_set1)

False

Here is an example where ***issubset()*** and ***issuperset()*** return true:

In [54]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [55]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [59]:
# Check if intersection is a subset

intersection.issubset(album_set1)

True

In [60]:
# Intersection should not be a superset of the albums that combined to make intersection.

intersection.issuperset(album_set1)

False

### ***==*** is a Comparison Operator used to compare two values

Consider the list <code>A = \[1, 2, 2, 1]</code> and set <code>B = set(\[1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [61]:
# Write your code below and press Shift+Enter to execute
A= [1,2,2,1]
B= set([1,2,2,1])
print("the sum of A is :", sum(A))
print("the sum of B is :", sum(B))

the sum of A is : 6
the sum of B is : 3