# Data Science Tools and Ecosystem

## __Objectives:__
- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- List Data Science Tools
- Show different types of mathmatical expressions

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript (not be related to Java)

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib (visualization)
4. Seaborn (visualization)
S. Scikit Learn (machine learning)
6. Apache Spark (general purpose)
7. Scala (Vegas)
8. R (ggplot2)

| Data Science Tools |
| ------------------ |
| Code Asset Management |
| Data Asset Management |
| Execution Environment |
| Development Environment |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 * 3 # Multiplication

[1] 6

In [2]:
4 - 1 # Subtraction

[1] 3

In [3]:
a <- 1 # Assigning 1 to the variable called "a"
a + 2 # Adding 2

[1] 3

In [1]:
### This is a simple arithmetic expression to multiply then add integers
( 3 * 4 ) + 5

17

In [7]:
### This will convert 200 minutes to hours by dividing by 60
x = 200 
y = x / 60
print ( y )

3.3333333333333335

## Author
Mickey McCall