# Data Science Tools and Ecosystem

## __Objectives:__
- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- List Data Science Tools
- Show different types of mathmatical expressions

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript (not be related to Java)

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib (visualization)
4. Seaborn (visualization)
S. Scikit Learn (machine learning)
6. Apache Spark (general purpose)
7. Scala (Vegas)
8. R (ggplot2)

| Data Science Tools |
| ------------------ |
| Code Asset Management |
| Data Asset Management |
| Execution Environment |
| Development Environment |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 * 3 # Multiplication

[1] 6

In [2]:
4 - 1 # Subtraction

[1] 3

In [3]:
a <- 1 # Assigning 1 to the variable called "a"
a + 2 # Adding 2

[1] 3

In [1]:
### This is a simple arithmetic expression to multiply then add integers
( 3 * 4 ) + 5

17

In [7]:
### This will convert 200 minutes to hours by dividing by 60
x = 200 
y = x / 60
print ( y )

3.3333333333333335

## Author
Mickey McCall

# ***STRINGS***

In [238]:
name = "Mickey McCall"
name[ 1 ]

'i'

In [239]:
len (name)

13

## The zero starts the index of positive numbers the space between y and M is sequence # 6
| M i c k e y   M c C  a  l  l |
|--------------------------|
| 0 1 2 3 4 5 6 7 8 9 10 11 12 |

### Remember because the index starts with 0 the string is still 13 characters long. so len(name) will be 13 not 12.

In [7]:
name [ 0 : 4 ] # Output will be Mick

'Mick'

In [9]:
name [ 7 : 11 ] # Out put will be McCa

'McCa'

### Remember the negative indexing of a string starts from -1 at the end of the string. Example Mickey McCall the last "l" will be -1 and (M) in Mickey will be -13

### Slicing Strings

### When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

In [11]:
name [ -13 : -9 ] # Output will be Mick

'Mick'

In [12]:
type (name)

str

### Stride Strings

In [8]:
# This is called striding

name [ :: 2 ] # The 2 indicates selecting every 2nd variable

'Mce cal'

### Incorporate slicing with the stride. we can select the first five elements and then use the stride:

In [9]:
# Get every second element in the range between index 0 to index 4

name [ 0 : 5 : 2 ]

'Mce'

## Concatenate Strings

In [51]:
# Using addition symbol can make new string or "concatenate"

statement = name + " is the best"
statement

'Mickey McCall is the best'

### To replicate values of a string we simply multiply the string by the number of times we would like to replicate it.

In [20]:
3 * "Mickey McCall" # this should be three copies of the orginial name string

'Mickey McCallMickey McCallMickey McCall'

In [21]:
name

'Mickey McCall'

In [11]:
3 * name

'Mickey McCallMickey McCallMickey McCall'

In [74]:
name = " Mickey McCall "
name

' Mickey McCall '

In [27]:
name = name + " is the best "
name

' Mickey McCall  is the best '

## backslash are meant to proceed escape sequences
## ***Escape sequences*** are strings that are difficult to input

## backlash \n is a new line

In [29]:
print ( " Mickey McCall \n is the best " )

 Mickey McCall
 is the best

## backlash \t is where a tab should be

In [30]:
print ( " Mickey McCall \t is the best " )

 Mickey McCall 	 is the best

## to place a backslash \ in your string use a double backslash \\

In [31]:
print ( " Mickey McCall \\ is the best " )

 Mickey McCall \ is the best

### to place multiple backslashes through out your string preceed the the string with r

In [35]:
print ( r" Mickey McCall \ is the best " ) #Out put is same as above

 Mickey McCall \ is the best

#  String Operations

### Upper is a method to convert lower case characters to upper case characters

In [17]:
## Examples of Methods

A = " Thriller is the sixth studio album "
A

' Thriller is the sixth studio album '

In [18]:
B= A.upper() # This will change lowercase characters to uppercase characters as varible B

In [38]:
B

' THRILLER IS THE SIXTH STUDIO ALBUM '

In [19]:
A

' Thriller is the sixth studio album '

In [20]:
A . upper ( )

' THRILLER IS THE SIXTH STUDIO ALBUM '

In [21]:
B . lower ( )

' thriller is the sixth studio album '

In [13]:
# Convert all the characters in string to upper case

a = " Thriller is the sixth studio album "
print ( "before upper : ", a )
b = a . upper ( )
print ( " After upper : ", b )

before upper :   Thriller is the sixth studio album
 After upper :   THRILLER IS THE SIXTH STUDIO ALBUM

## The method replace, replaces a segment of the string

In [52]:
A= "Mickey McCall is the best" 
A

'Mickey McCall is the best'

In [53]:
B = A.replace ( 'Mickey' , 'Dawn' ) # The output should replace Mickey with Dawn
B

'Dawn McCall is the best'

## The method find is to find substrings

In [20]:
name = "Mickey McCall"
name

'Mickey McCall'

In [21]:
len(name)

13

In [22]:
name = ( "Mickey McCall" )

In [23]:
name.find ( 'ey' ) # ey is the argument the output is the first index of the sequence

4

In [24]:
name.find ("McCa")

7

In [25]:
name.find ( 'Mick' )

0

In [27]:
name.find ( 'ick')

1

In [28]:
name.find ( 'c' )

2

In [29]:
name.find ( 'cC' )

8

In [34]:
name [:: 6 ]

'M l'

In [36]:
name [ 1 : 13 : 2]

'ikyMCl'

In [38]:
name [ 12 ]

'l'

In [39]:
name [ 0 : 13 ]

'Mickey McCall'

In [41]:
name [0 : 10]

'Mickey McC'

In [49]:
name.find ('key mc')  #find cant see because the m is not M

-1

In [46]:
name.find ('C')

9

In [48]:
name.find ('key Mc')

3

In [43]:
type (name)

str

In [44]:
bool (name)

True

### If "find" cannot find the substring in the string

In [14]:
name . find ( ' Jasdfasdasdf ' )

-1

### Strings will put anything you put in them into the code.
### "Mickey" is not the same as " Mickey ". The first one looks for Mickey, the second looks for "space"Mickey.

In [24]:
x = 1
x = x + 1
x

2

In [25]:
1 + 3 * 2

7

In [26]:
type ("7.1" )

str

In [54]:
type (7.1)

float

In [55]:
type (7)

int

In [56]:
int (True)

1

In [57]:
'1' + '2'

'12'

In [77]:
myvar = 'hello'
myvar. upper ( )

'HELLO'

In [58]:
str (1+1)

'2'

In [59]:
'123'.replace ("12", "ab")

'ab3'

In [60]:
'ab3'.replace ('ab', 'cd')

'cd3'

In [61]:
'cd3'.replace ('cd', '12')

'123'

In [62]:
x = 2/2
x

1.0

In [63]:
type(x)

float

# This was from Week 2 of Python for Data Science, AI & Deployment

### Lists in Python

Imagine you received album recommendations from your friends and compiled all of the recommandations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **Artist** - Name of the artist
*   **Album** - Name of the album
*   **Released_year** - Year the album was released
*   **Length_min_sec** - Length of the album (hours,minutes,seconds)
*   **Genre** - Genre of the album
*   **Music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Released** - Date on which the album was released
*   **Soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **Rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The Dataset can be seen below:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleet wood Mac</td>
    <td> Rumours </td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="1000">

### To create a list, type the list within square brackets [], with your content inside the parenthesis and separated by commas.

In [86]:
# Create a list

L= [ "Michael Jackson", 10.1, 1982 ]
L

['Michael Jackson', 10.1, 1982]

### Negative and regular indexing can be used with lists:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="1000">

In [87]:
# Print the elements on each index

print ('the same element using negative and positive indexing: \n Postive:', L[0],'\n Negative:', L[-3] )
print ('the same element using negative and positive indexing: \n Postive: ', L[1], '\n Negative:', L[-2])
print ('the same element using positive and negative indexing: \n Negative:', L[-1], '\n Positive:', L[2])

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive:  10.1
 Negative: 10.1
the same element using positive and negative indexing:
 Negative: 1982
 Positive: 1982

In [89]:
L

['Michael Jackson', 10.1, 1982]

In [94]:
## List Slicing

L[1:5]  # The output will start at index 1 or 10.1

[10.1, 1982]

In [95]:
# Use Extend to add new elments to a list

L.extend (['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [96]:
# Append adds one element to the list.

L=['Michael Jackson', 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [97]:
# Use append to add elements to list

L.append (['a','b'])
L

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b']]

## Lists are ***MUTABLE*** so they can be changed

In [63]:
# Change the element based on the index

A= ['disco', 10, 1.2]
print ('Before change:',A)
A[0] ='hard rock'
print ('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

## Changes in list can be made with DELETE command (DEL)

In [64]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

##  Can convert a string using ***split***. The method translates every group of characters separated by a space into an element in a list:

In [66]:
# Split the string, default is by space

'hard rock'. split()

['hard', 'rock']

In [67]:
# this is practice spliting

'milk and cookies'.split()

['milk', 'and', 'cookies']

In [65]:
food_list = ["Taco Bell", "McDonald's", "BurgerKing", "Paiks", "Subway"]
food_list

['Taco Bell', "McDonald's", 'BurgerKing', 'Paiks', 'Subway']

## Delimiter. This is used to separate strings on a specific character below using ',' as the delimiter.

In [66]:
"Taco Bell", "McDonald's", "BurgerKing", "Paiks", "Subway".split(',')

('Taco Bell', "McDonald's", 'BurgerKing', 'Paiks', ['Subway'])

In [67]:
food_list.append ("In-N-Out")
food_list

['Taco Bell', "McDonald's", 'BurgerKing', 'Paiks', 'Subway', 'In-N-Out']

## Copy and Clone List

In [68]:
food_list
takeout= food_list
print(food_list)
print(takeout)

['Taco Bell', "McDonald's", 'BurgerKing', 'Paiks', 'Subway', 'In-N-Out']
['Taco Bell', "McDonald's", 'BurgerKing', 'Paiks', 'Subway', 'In-N-Out']

When we set one variable B equal to A, both A and B are referencing the same list in memory:

In [69]:
# Copy (copy by reference) the list A

A= ['hard rock', 10, 1.2]
B= A
print ('A:',A)
print ('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRef.png" width="1000" align="center">

## If List A is changed to Banana from hard rock, then list B will also change to Banana.

In [70]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = 'banana'
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRefGif.gif" width="1000">

In [71]:
# You can clone list A by using the following syntax:

B=A[:]
B

['banana', 10, 1.2]

In [72]:
takeout=food_list[:]
takeout

['Taco Bell', "McDonald's", 'BurgerKing', 'Paiks', 'Subway', 'In-N-Out']

In [73]:
del(food_list[0])
print(food_list)
print(takeout)

["McDonald's", 'BurgerKing', 'Paiks', 'Subway', 'In-N-Out']
['Taco Bell', "McDonald's", 'BurgerKing', 'Paiks', 'Subway', 'In-N-Out']

Variable **B** references a new copy or clone of the original list. This is demonstrated in the following figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsVal.gif" width="1000">

## Now if you change A. B will not change:

In [75]:
print ('B[0]:' , B[0])
A[0] = 'hard rock'
print ('B[0]:', B[0])

B[0]: banana
B[0]: banana

# Task: Create an empty list

In [84]:
Shopping_list=[]

# Store a number of items in the list.

In [93]:
Shopping_list=['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

# Add new item to the Shopping_list

In [94]:
Shopping_list.append('Football')
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

# Print first item on the shopping_list

In [95]:
print(Shopping_list[0])

Watch

# Print last item on the shopping_list

In [96]:
print(Shopping_list[-1])

Football

# Print the entire Shopping List

In [97]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

# Print the items that are important to buy from the Shopping list Laptop and Shoes

In [98]:
print(Shopping_list[1:3])

['Laptop', 'Shoes']

# Change the item from the shopping list Pen to Notebook

In [99]:
Shopping_list[3]='Notebook'  #The 3 is the index of pen.
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

# Delete the Clothes from the shopping list

In [100]:
del(Shopping_list[4]) # The 4 is the index of Clothes
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

# Print the shopping list

In [101]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

# Dictionaries

## What are Dictionaries?

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.   


The best example of a dictionary can be accessing person's detais using the **social security number**.   
Here the social security number which is a unique number will be the **key** and the details of the people will be the **values** associated with it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650">

## Create a Dictionary and access the elements

An example of a Dictionary <code>Dict</code>:
Here we are creating a dictionary named **Dict** with he following details

* Keys are **key1, key2, key3, key4, key5**.
* Values are {1,2,[3,3,3],(4,4,4),5,(0,1):6} corresponding to the keys

In [4]:
# Create the dictionary

Dict = {'key1': 1, 'key2': '2', 'key3': [3,3,3], 'key4': (4,4,4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

### The keys can be strings:

In [5]:
# Access to the value by the key

Dict['key1']

1

### Keys can also be any immutable object such as a tuple:

In [7]:
# Access to the value by the key a (tuple) in this case:

Dict[(0, 1)]

6

Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

In [11]:
Curly_Braces={'key1': ('mc'), 'key2': 'mic'} # My Curly_Braces Dictionary

Curly_Braces

{'key1': 'mc', 'key2': 'mic'}

In [13]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### The above dictionary the keys are the title of the music and the year is the value it accesses.

### It is helpful to visuallie the dictionary as a table, as the following image. The first column represents the keys, the second column represents the values

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsStructure.png" width="650">

## Keys will get you the values, but you can get keys based on their values:

In [15]:
# Get value by keys

release_year_dict['Thriller']

'1982'

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsKeyOne.png" width="500">

### Similarly for **The Bodyguard**

In [16]:
# Get value by the key

release_year_dict['The Bodyguard']

'1992'

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsKeyTwo.png" width="500">

### Now let us retrieve the keys of the dictionary using the method ***dictionary.keys()***

In [17]:
# Get all the keys in the dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

### You can retrieve the values using the method ***dictionary.values()***

In [18]:
# Get all the values in the dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

### We can ***add*** and entry in this form: ***Dictionary ['key']= 'value'***

In [20]:
# Append value with key into dictionary

release_year_dict['Graduation']= '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

### We can ***Delete*** and entry: del from the dictionary using key:  ***del(dictionary)['key'])***

In [21]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### We can verfiy if an element is ***IN*** the dictionary using this form:  ***'key' in dictionary***

In [22]:
# Verify the key is IN the dictionary

'The Bodyguard' in release_year_dict

True

### If the key is not in the dictionary you will get a output of False

# Sets

## A set is a unique collection of objects in Python. You can denote a set with a pair of ***{}***. Python will automatically remove duplicate items:

In [23]:
# Create a set

set1 = {'pop', 'rock', 'soul', 'hard rock', 'rock', 'R&B' , 'rock', 'disco'}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

The process of mapping is illustrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnique.png" width="1100">

### You can also create a set from a list as follows:

In [32]:
# Convert list to set

album_list = ['Michael Jackson', 'Thriller', 1982, '00:42:19', \
              'Pop, Rock, R&B', 46.0, 65, '30-Nov-82', None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

## Set Operartions- used to change the set

In [33]:
# Sample set A

A = set(['Thiller', 'Back in Black', 'AC/DC'])
A

{'AC/DC', 'Back in Black', 'Thiller'}

In [198]:
ff= set(takeout)
ff

{'BurgerKing', 'In-N-Out', "McDonald's", 'Paiks', 'Subway', 'Taco Bell'}

In [199]:
fl=set(food_list)
fl

{'BurgerKing', 'In-N-Out', "McDonald's", 'Paiks', 'Subway'}

In [200]:
intersection= fl & ff
intersection

{'BurgerKing', 'In-N-Out', "McDonald's", 'Paiks', 'Subway'}

In [201]:
ff. difference (fl)

{'Taco Bell'}

In [202]:
fl.add('Lotteria')
print(fl)
print(ff)

{'In-N-Out', 'Lotteria', 'Paiks', 'BurgerKing', 'Subway', "McDonald's"}
{'In-N-Out', 'Paiks', 'BurgerKing', 'Subway', 'Taco Bell', "McDonald's"}

In [203]:
fl.add("Mom's Touch")
print(fl)
print (ff)

{'In-N-Out', 'Lotteria', 'Paiks', 'BurgerKing', 'Subway', "Mom's Touch", "McDonald's"}
{'In-N-Out', 'Paiks', 'BurgerKing', 'Subway', 'Taco Bell', "McDonald's"}

In [204]:
fl.difference(ff)

{'Lotteria', "Mom's Touch"}

In [205]:
fl.add('Taco Bell')
print (fl)
print (ff)

{'In-N-Out', 'Lotteria', 'Paiks', 'BurgerKing', 'Subway', "Mom's Touch", 'Taco Bell', "McDonald's"}
{'In-N-Out', 'Paiks', 'BurgerKing', 'Subway', 'Taco Bell', "McDonald's"}

In [206]:
fl.difference(ff)

{'Lotteria', "Mom's Touch"}

In [207]:
intersection= fl & ff
intersection

{'BurgerKing', 'In-N-Out', "McDonald's", 'Paiks', 'Subway', 'Taco Bell'}

In [208]:
print(ff)
print(fl)

{'In-N-Out', 'Paiks', 'BurgerKing', 'Subway', 'Taco Bell', "McDonald's"}
{'In-N-Out', 'Lotteria', 'Paiks', 'BurgerKing', 'Subway', "Mom's Touch", 'Taco Bell', "McDonald's"}

### We can add an element to a set using ***.add()***

In [34]:
# Add element to set

A.add('NSYNC')
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thiller'}

### The same element cannot be added twice.

### To remove an element from a set use ***.remove()***

In [35]:
# Remove the element from the set

A.remove('NSYNC')
A

{'AC/DC', 'Back in Black', 'Thiller'}

### We can verify if an element is in the set using ***in*** command:

In [36]:
# Verify if the element is in the set

'AC/DC' in A

True

### If the element is not in the set you will get a False.

## Sets Logic Operations

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

Consider the following two sets:

In [39]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsSamples.png" width="650">

In [41]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

As both sets contain <b>AC/DC</b> and <b>Back in Black</b> we represent these common elements with the intersection of two circles.

![SetsLogic.png](attachment:a9267f54-6009-4160-a6d2-436b99b140ea.png)<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLogic.png" width="650">

You can find the intersect of two sets as follow using <code>&</code>:

In [58]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method: ***set1.difference(set2 or whatever set)***

In [44]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

You only need to consider elements in ***album_set1*** all the elements in ***album_set2*** including the intersection are not included

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLeft.png" width="650">

If you want the elements only in ***album_set2*** but not in ***album_set1*** you use this:

In [47]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsRight.png" width="650">

You can also find t he intersection of ***album_list1*** and ***album_list2*** using the **intersection** method:

In [48]:
# use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

This corresponds to the intersection of the two circles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsIntersect.png" width="650">

The union corresponds to the elements in ***both*** sets, which is represented by coloring both circles:  ***These circles represent Venn Diagrams***

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnion.png" width="650">

In [49]:
# To find the union of two sets you use:

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

You can check if a set is a ***superset*** or a **subset** using ***.issuperset*** or **.issubset**

In [51]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [209]:
set(ff).issuperset(fl)

False

In [210]:
set(fl).issuperset(ff)

True

In [211]:
set(ff).issubset(fl)

True

In [212]:
set({'Taco Bell'}).issubset(fl)

True

In [53]:
# Check if subset

set(album_set2).issubset(album_set1)

False

Here is an example where ***issubset()*** and ***issuperset()*** return true:

In [54]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [55]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [59]:
# Check if intersection is a subset

intersection.issubset(album_set1)

True

In [60]:
# Intersection should not be a superset of the albums that combined to make intersection.

intersection.issuperset(album_set1)

False

### ***==*** is a Comparison Operator used to compare two values

Consider the list <code>A = \[1, 2, 2, 1]</code> and set <code>B = set(\[1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [61]:
# Write your code below and press Shift+Enter to execute
A= [1,2,2,1]
B= set([1,2,2,1])
print("the sum of A is :", sum(A))
print("the sum of B is :", sum(B))

the sum of A is : 6
the sum of B is : 3

# Week 3 Python Programming Fundamentals

### Concepts of conditions and branching.

In [74]:
age=17

In [75]:
age=18

In [76]:
age=19

if (age>18):  # If statement looks for true/false
    print ("you can enter")
    
elif(age==18):
    print("go see Pink Floyd")

else:
    print("go see Meat Loaf")
    
print("move on")

In [77]:
album_year= 1990

if(album_year< 1980) or (album_year>1989):  # Or operation one or the other need to be true
    
    print("The Album was made in the 70' or 90's")

else:
    print("The Album was made in the 1980's")

The Album was made in the 70' or 90's

In [18]:
album_year = 1983

if(album_year > 1979) and (album_year < 1990): #both if statements must be true
    print ("This album was made in the 80's")

This album was made in the 80's

Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

In [19]:
# Condition Equal

a = 5
a == 6

False

In [78]:
a = 5
a == 5

True

In [22]:
# Greater than Sign 

i = 6  # 6 is greater than 5  
i > 5

True

In [79]:
i = 6  # 6 is not greater than 6
i > 6

False

In [23]:
# Greater than Sign

i = 2  # 2 is not greater than 5
i > 5

False

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsGreater.gif" width="650">

In [25]:
# Inequality Sign

i = 2  # 2 is not equal to 6 
i != 6

True

In [26]:
# Inequality Sign

i = 6 # 6 is equal to 6 so the output is False
i != 6

False

### The comparisons can also be done on strings

In [30]:
# Use Equality sign to compare the strings

"AC/DC" == "Michael Jackson" # False output because they are not the same str.

False

In [31]:
# Use Inequality sign to compare the strings

"AC/DC" != "Michael Jackson" #True output because they are not equal

True

The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-7geq{background-color:#ffffc7;text-align:center;vertical-align:top}
.tg .tg-1cln{background-color:#ffcc67;font-size:100%;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-xozw{background-color:#ffcc67;font-weight:bold;text-align:center;vertical-align:top}
</style>

<table class="tg">
<thead>
  <tr>
    <th class="tg-1cln">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-7geq">A</td>
    <td class="tg-baqh">65</td>
    <td class="tg-7geq">N</td>
    <td class="tg-baqh">78</td>
    <td class="tg-7geq">a</td>
    <td class="tg-baqh">97</td>
    <td class="tg-7geq">n</td>
    <td class="tg-baqh">110</td>
  </tr>
  <tr>
    <td class="tg-7geq">B</td>
    <td class="tg-baqh">66</td>
    <td class="tg-7geq">O</td>
    <td class="tg-baqh">79</td>
    <td class="tg-7geq">b</td>
    <td class="tg-baqh">98</td>
    <td class="tg-7geq">o</td>
    <td class="tg-baqh">111</td>
  </tr>
  <tr>
    <td class="tg-7geq">C</td>
    <td class="tg-baqh">67</td>
    <td class="tg-7geq">P</td>
    <td class="tg-baqh">80</td>
    <td class="tg-7geq">c</td>
    <td class="tg-baqh">99</td>
    <td class="tg-7geq">p</td>
    <td class="tg-baqh">112</td>
  </tr>
  <tr>
    <td class="tg-7geq">D</td>
    <td class="tg-baqh">68</td>
    <td class="tg-7geq">Q</td>
    <td class="tg-baqh">81</td>
    <td class="tg-7geq">d</td>
    <td class="tg-baqh">100</td>
    <td class="tg-7geq">q</td>
    <td class="tg-baqh">113</td>
  </tr>
  <tr>
    <td class="tg-7geq">E</td>
    <td class="tg-baqh">69</td>
    <td class="tg-7geq">R</td>
    <td class="tg-baqh">82</td>
    <td class="tg-7geq">e</td>
    <td class="tg-baqh">101</td>
    <td class="tg-7geq">r</td>
    <td class="tg-baqh">114</td>
  </tr>
  <tr>
    <td class="tg-7geq">F</td>
    <td class="tg-baqh">70</td>
    <td class="tg-7geq">S</td>
    <td class="tg-baqh">83</td>
    <td class="tg-7geq">f</td>
    <td class="tg-baqh">102</td>
    <td class="tg-7geq">s</td>
    <td class="tg-baqh">115</td>
  </tr>
  <tr>
    <td class="tg-7geq">G</td>
    <td class="tg-baqh">71</td>
    <td class="tg-7geq">T</td>
    <td class="tg-baqh">84</td>
    <td class="tg-7geq">g</td>
    <td class="tg-baqh">103</td>
    <td class="tg-7geq">t</td>
    <td class="tg-baqh">116</td>
  </tr>
  <tr>
    <td class="tg-7geq">H</td>
    <td class="tg-baqh">72</td>
    <td class="tg-7geq">U</td>
    <td class="tg-baqh">85</td>
    <td class="tg-7geq">h</td>
    <td class="tg-baqh">104</td>
    <td class="tg-7geq">u</td>
    <td class="tg-baqh">117</td>
  </tr>
  <tr>
    <td class="tg-7geq">I</td>
    <td class="tg-baqh">73</td>
    <td class="tg-7geq">V</td>
    <td class="tg-baqh">86</td>
    <td class="tg-7geq">i</td>
    <td class="tg-baqh">105</td>
    <td class="tg-7geq">v</td>
    <td class="tg-baqh">118</td>
  </tr>
  <tr>
    <td class="tg-7geq">J</td>
    <td class="tg-baqh">74</td>
    <td class="tg-7geq">W</td>
    <td class="tg-baqh">87</td>
    <td class="tg-7geq">j</td>
    <td class="tg-baqh">106</td>
    <td class="tg-7geq">w</td>
    <td class="tg-baqh">119</td>
  </tr>
  <tr>
    <td class="tg-7geq">K</td>
    <td class="tg-baqh">75</td>
    <td class="tg-7geq">X</td>
    <td class="tg-baqh">88</td>
    <td class="tg-7geq">k</td>
    <td class="tg-baqh">107</td>
    <td class="tg-7geq">x</td>
    <td class="tg-baqh">120</td>
  </tr>
  <tr>
    <td class="tg-7geq">L</td>
    <td class="tg-baqh">76</td>
    <td class="tg-7geq">Y</td>
    <td class="tg-baqh">89</td>
    <td class="tg-7geq">l</td>
    <td class="tg-baqh">108</td>
    <td class="tg-7geq">y</td>
    <td class="tg-baqh">121</td>
  </tr>
  <tr>
    <td class="tg-7geq">M</td>
    <td class="tg-baqh">77</td>
    <td class="tg-7geq">Z</td>
    <td class="tg-baqh">90</td>
    <td class="tg-7geq">m</td>
    <td class="tg-baqh">109</td>
    <td class="tg-7geq">z</td>
    <td class="tg-baqh">122</td>
  </tr>
</tbody>
</table>

For example, the ASCII code for <b>!</b> is 33, while the ASCII code for <b>+</b> is 43. Therefore <b>+</b> is larger than <b>!</b> as 43 is greater than 33.

## ASCII stands for ***American Standard Code For Information Interchange"***

### ASCII encodiing is between 0-127

### To print the ASCII value of a character in Python use the ***ord()*** function

In [35]:
char1 = "A"  # char is short for character
result1 = ord(char1)
print("ASCII value of the character {} is {}.".format(char1, result1))

ASCII value of the character A is 65.

In [37]:
## Comparing characters can also be done

'B' > 'A'  # Looking at the chart above you see B = 66 and A = 65

True

In [38]:
## Comparing charaters for practice

'BA' > 'AB'

True

## ***Note*** Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in Pyhton is case-sensitive.

# Branching

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsLogicMap.png" width="650">

In [43]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

# Logic Operators are: ***and***, ***or***, ***not***
#### Summarized for two variables using the following truth tables:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsTable.png" width="650">

The <code>and</code> statement is only **True** when both conditions are true. The <code>or</code> statement is True if one condition, or both are **True**. The <code>not</code> statement outputs the opposite truth value.

## Using ***AND***

Let's see how to determine if an album was released after 1979 (1979 is not included) and before 1990 (1990 is not included). The time periods between 1980 and 1989 satisfy this condition. This is demonstrated in the figure below. The green on lines <strong>a</strong> and <strong>b</strong> represents periods where the statement is **True**. The green on line <strong>c</strong> represents where both conditions are **True**, this corresponds to where the green regions overlap.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsEgOne.png" width="650">

In [44]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

## Using ***OR***

To determine if an album was released before 1980 (1979 and earlier) or after 1989 (1990 and onward ), an or statement can be used. Periods before 1980 (1979 and earlier) or after 1989 (1990 and onward) satisfy this condition. This is demonstrated in the following figure, the color green in <strong>a</strong> and <strong>b</strong> represents periods where the statement is true. The color green in **c** represents where at least one of the conditions
are true.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsEgTwo.png" width="650">

In [45]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

## Using ***NOT***

In [55]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")  # This will be printed if the album is not 1984

Album year is not 1984

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [60]:
album_year = 1991

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1991

In [69]:
# more practice with and or functions

age = 22

if age < 100 and age < 35:
    print("This must be a young person", age)
else:
    print("This person is getting old", age)

This must be a young person 22

In [75]:
# more prctice with and/or functions

age = 77

if age >= 75:
    print("You have lived a long life", age)
else:
    print("You have a long life to live", age)

You have lived a long life 77

In [213]:
# Use the range

range(3)

range(0, 3)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/range.PNG" width="300">

# ***for*** loop enables you to execute code block multiple times

In [214]:
# For Loop example

dates = [1982, 1980, 1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

The code in the indent is executed <code>N</code> times, each time the value of <code>i</code> is increased by 1 for every execution. The statement executed is to <code>print</code> out the value in the list at index <code>i</code> as shown here:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsForRange.gif" width="800">

In [215]:
# Example for a loop to print out numbers 0 to 7

for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [218]:
# Example of for loop, loop through list

for year in dates:
    print(year)

1982
1980
1973

![LoopsForList.gif](attachment:300098c7-3516-4e35-a4f6-7900ea334ef7.gif)<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsForList.gif" width="800">

## Changing the elements in a list with a loop

In [54]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])
    
for i in range(0, 5):
    print("Before square ", i, "is", squares[i])
    squares[i] = 'blue'
    print("After square ", i, 'is', squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white
Before square  0 is white
After square  0 is blue
Before square  1 is white
After square  1 is blue
Before square  2 is white
After square  2 is blue
Before square  3 is white
After square  3 is blue
Before square  4 is white
After square  4 is blue

In [224]:
# Loop through the list and iterate on both index and elment value

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [9]:
# practice changing elements

names = ['Mickey', 'Dawn', 'Owen', 'Aaron', 'Nicholas']

for m in range(0,5):
    print('Before name', m, 'is', names[m])
    names[m] = 'McCall'
    print('After name', m, 'is', names[m])

for m in range(6, 9):
    print(m)

Before name 0 is Mickey
After name 0 is McCall
Before name 1 is Dawn
After name 1 is McCall
Before name 2 is Owen
After name 2 is McCall
Before name 3 is Aaron
After name 3 is McCall
Before name 4 is Nicholas
After name 4 is McCall
6
7
8

In [233]:
names = ['Mickey', 'Dawn', 'Owen', 'Aaron', 'Nicholas']

for m, names in enumerate(names):
    print (m, names)

0 Mickey
1 Dawn
2 Owen
3 Aaron
4 Nicholas

In [240]:
len(names)

8

<h3 id="while">What is <code>while</code> loop?</h3>

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

#### Here's how a while loop works:

1. First, you specify a condition that the loop will check before each iteration (repetition) of the code block.
2. If the condition is initially true, the code block is executed.
3. After executing the code block, the condition is checked again.
4. If the condition is still true, the code block is executed again.
5. Steps 3 and 4 repeat until the condition becomes false.
6. Once the condition becomes false, the loop stops, and the program continues with the next line of code after the loop.

In [245]:
count = 1
while count <= 9:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9

###  The condition ***count <=9*** is checked before each iteration. As long as count is less than or equal to 9, the code block inside the loop is executed. After each iteration, the value of count is incremented by 1 using ***count +=1***. Once count reaches 10 the condition is false and the loop stops.

In [246]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

### A ***while*** loop iterates merely until the condition in the argument is ***not** met, as shown in the following figure.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsWhile.gif" width="650">

## The main difference between a while loop and a for loop in Python is how they control the flow of execution and handle iterations.

## Key point of While Loop:
1. A while loop repeatedly executes a block of code as a given condition is true
2. It does not have a fixed number of iterations but continues executing until the condition becomes false.
3. The condition is checked before each iteration, and if it's false initially, the code block is skipped entirely.
4. The condition is typically based on a variable or expression that can changed during the execution of the loop.
5. It provides more flexibility in terms of controlling the loop's execution based on dynamic conditions.

## In Python, you can create a while loop using the while keyword. A while loop repeatedly executes a block of code as long as a specified condition is True. Here's the basic syntax for a while loop

### while condition:
    # Code to be executed as long as the condition is True

## Here's a breakdown of the components:

## ***while***: This is the keyword that starts the while loop.
## ***condition***: This is a Boolean expression that determines whether the loop should continue executing or not. 
## As long as the condition is True, the loop will keep running.
## Here's an example of a simple while loop that counts from 1 to 5:

In [4]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

## In this example, the loop starts with count equal to 1. 
## The condition count <= 5 is checked before each iteration. 
## As long as the condition is True, the loop continues, and count is incremented by 1 in each iteration. 
## The loop stops when the condition becomes False.

***Be cautious when using while loops to avoid creating infinite loops, where the condition never becomes False, as this can cause your program to run indefinitely. Make sure that the condition will eventually become False to exit the loop. You can use break statements to exit a while loop prematurely if needed.***

## Key point of For Loop:

1. A for loop iterates over a sequence (such as a list, string, or range) or any object that supports iteration.
2. It has a predefined number of iterations based on the length of the sequence or the number of items to iterate over.
3. It automatically handles the iteration and does not require maintaining a separate variable for tracking the iteration count. 
4. It simplifies the code by encapsulating the iteration logic within the loop itself.
5. It is commonly used when you know the ***exect number of iterations*** or need to iterate ***over each item*** in a collection.

## for: This is the keyword that starts the for loop.
## variable: This is a variable name that you choose to represent each element in the iterable during each iteration of the loop. You can use any valid variable name.
## in: This keyword is used to specify the iterable you want to loop through.
## iterable: This is the collection or sequence of elements you want to iterate over.
Here's an example of a simple for loop that iterates over a list of numbers and prints each number:

In [2]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

## In this example, the variable num takes on each value from the numbers list in each iteration of the loop.

You can use for loops to perform various tasks like iterating through files, processing data, and much more. It's a fundamental control structure in Python for repetitive tasks.

In [2]:
## A for loop that prints out all elements between -5 and 5 using range function

for e in range(-5, 5):
    print([e])

[-5]
[-4]
[-3]
[-2]
[-1]
[0]
[1]
[2]
[3]
[4]

Print the elements of the following list:
<code>Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']</code>
Make sure you follow Python conventions.

In [11]:
# Write your code below and press Shift+Enter to execute
Genres = [ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [13]:
names = ['Mickey', 'Dawn', 'Owen', 'Aaron', 'Nicholas']  # simple for loop
for name in names:
    print(name)

Mickey
Dawn
Owen
Aaron
Nicholas

In [17]:
## PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]  # this is the list
i = 0  # this is the index [i] starting at index 0 which is the #10
rating = PlayListRatings[0]  # rating is the variable being use for indexing PlayListRating
while (i < len(PlayListRatings) and rating >= 6):   # this is basically a FOR loop.  i starts at 0, the first index, and then increases by one until it is at the end of the list (index len(PlayListRatings) - 1, which is the last value less than len(PlayListRatings)
    print(rating)   # this just prints variable rating until greater than or equal to 6 is True. (5 or less)
    i = i + 1   # this increases index by one when first index is met
    rating = PlayListRatings [i]

10
9.5
10
8
7.5

#  ***Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [1]:
#This is the code used to solve this problem

print ("Multiplication table of 6:")  # This just a heading
for i in range (13):  # The range is 13 so you have 0-12 answers
    print("6*" , i, "=", 6*i)   # 6* is printed to see 6* (0-12) = answer
print ("multiplication table of 7:")  # This is heaading for 7
for i in range (13):
    print ("7*", i, "=", 7*1)

Multiplication table of 6:
6* 0 = 0
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
6* 11 = 66
6* 12 = 72
multiplication table of 7:
7* 0 = 7
7* 1 = 7
7* 2 = 7
7* 3 = 7
7* 4 = 7
7* 5 = 7
7* 6 = 7
7* 7 = 7
7* 8 = 7
7* 9 = 7
7* 10 = 7
7* 11 = 7
7* 12 = 7

### The following is a list of animals in a National Zoo. ***Animals = ['lion', 'giraffe', 'gorrila', 'parrots', 'crocodile', 'deer', 'swan']***

### Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a while loop and create a separate list of such animals.

In [2]:
Animals=["lion", "giraffe", "gorilla", "parrots", "crocodile", "deer", "swan"]
# This is the original list.

In [90]:
New =[]  #This is the empty list

i = 0  #This is setting index **i** to index start of 0

while i<len(Animals):  # This is checking to move to next index
    j=Animals[i]   #This is setting variable j as list of Animals 

    if(len(j)==7):  #This if checks for the length of the animal 

        New.append(j)  # This puts the seven letter animal in empty list

    i = i+1 # This moves to the next iteration

print(New)    #This prints the empty list filled with 7 letter animals

['giraffe', 'gorilla', 'parrots']

## This is and example to help me understand how to build loops.

In [31]:
import random   #This imports a random generater program

# all weights in pounds
weight_orange = 500
weight_apples = 700
weight_strawberries = 300

max_truck_weight = 10000

truck_list = [5,2,7,4,1,9,3,6,10,8]

overweight_trucks = []

# get truck number
for truck in truck_list:
    # generate random number of pallets of each fruit
    number_orange_pallets = random.randint(1,12)
    number_apple_pallets = random.randint(1,8)
    number_strawberry_pallets = random.randint(1,15)

    # calculate total weight of product
    total_orange_weight = number_orange_pallets*weight_orange
    total_apple_weight = number_apple_pallets*weight_apples
    total_strawberry_weight = number_strawberry_pallets*weight_strawberries

    total_weight =  total_orange_weight + total_apple_weight + total_strawberry_weight
    
    # compare against max weight of truck
    if total_weight <= max_truck_weight:
        print("Truck %i is not overweight and weighs %i lbs"%(truck, total_weight))
    else:
    # if its overweight print truck number and weight and add to a list
        print("Truck %i is overweight and weighs %i lbs"%(truck, total_weight))
        overweight_trucks.append(truck)

print("List of overweight trucks: ",overweight_trucks)

underweight_trucks = [truck for truck in truck_list if truck not in overweight_trucks]

print("List of underweight trucks: ",underweight_trucks)

Truck 5 is overweight and weighs 13900 lbs
Truck 2 is not overweight and weighs 6800 lbs
Truck 7 is not overweight and weighs 5900 lbs
Truck 4 is not overweight and weighs 5800 lbs
Truck 1 is not overweight and weighs 7100 lbs
Truck 9 is overweight and weighs 12500 lbs
Truck 3 is not overweight and weighs 9100 lbs
Truck 6 is not overweight and weighs 4000 lbs
Truck 10 is not overweight and weighs 8400 lbs
Truck 8 is overweight and weighs 12000 lbs
List of overweight trucks:  [5, 9, 8]
List of underweight trucks:  [2, 7, 4, 1, 3, 6, 10]

# Functions

### A function is a reusable block of code which performs operations specified in the function. They let  you break down tasks and allow you to reuse your code in different programs.

#### There are two types of functions:

***Pre-definded functions***

***User definded functions***

### Here are simple rules to define a function in Python:

**Functions blocks begin with ***def*** follwed by the function ***name*** and parentheses ***()*** **

**There are inpput parameters or arguments that should be placed with in these parentheses.**

**You can also define parameters inside these parentheses.**

**There is a body within every function that starts with a ***:*** and is indented**

**You can also place documentation before the body.**

**The statement ***return*** exits a function, optionally passing back a value.**

### Example of a function that adds on to the parameter ***a*** prints and returns the output as ***b***

In [2]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b= a + 1
    print(a, 'if you add one', b)
    return(b)

In [3]:
add(10)

10 if you add one 11

11

In [4]:
add(1)

1 if you add one 2

2

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsDefinition.png" width="500">

In [5]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [6]:
# Call the function add()

add(1)

1 if you add one 2

2

In [7]:
# If we call function with new input get new result

add(2)

2 if you add one 3

3

### We can create different functions. For example, we can create a funtion that multiplies two numbers. The numbers will be represented by the variables ***a*** and ***b***:

In [8]:
# Define a funtion for multiple two numbers

def Mult(a,b):
    c= a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [11]:
# The same function can be used for two intergers

Mult(2, 3)

6

In [12]:
# Can also use on two floats

Mult(10.0, 3.14)

31.400000000000002

In [13]:
# Can use on strings to replicate them using an integer

Mult(2, 'Michael Jackson')

'Michael JacksonMichael Jackson'

## Variables
### The input to a funtion is called a formal paramater

### A variable that is declared inside a function is called a ***local variable***. The parameter only exists within the function (i.e. the point where the functions starts and stops).

### A variable that is declared outside a function definition is a ***global variable***, and its value is accessible and modifiable throughout the program.

In [14]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, 'if you square +1', c)
    return(c)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsVar.png" width="500">

In [16]:
# We can call the imput of 3
# Initializes Global variable

x = 3
# Makes function call and return function y
y = square(x)
y

3 if you square +1 10

10

In [17]:
# Can also call funtion with an input of 2
# Directly enter a number as parameter

square(2)

2 if you square +1 5

5

### If there is no ***return*** statement, the function returns ***none***. The following two functions are equivalent:

In [18]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [19]:
# See the output

MJ()

Michael Jackson

In [20]:
# See the output

MJ1()

Michael Jackson

### Printing the function after a call reveals ***None*** is the default return statement:

In [22]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

#### Create a function **con** that concatenates two strings using the additional operation:

In [23]:
# Define the function for combining strings

def con(a,b):
    return(a + b)

In [26]:
# Test on the con() function

con("This ", "is")

'This is'

<hr/>
    <div class="alert alert-success alertsuccess" style="margin-top: 20px">
        <h4> [Tip] How do I learn more about the pre-defined functions in Python? </h4>
        <p>We will be introducing a variety of pre-defined functions to you as you learn more about Python. There are just too many functions, so there's no way we can teach them all in one sitting. But if you'd like to take a quick peek, here's a short reference card for some of the commonly-used pre-defined functions: <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/Python_reference_sheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">Reference</a></p>
    </div>
<hr/>

## Functions Make Things Simple

### Consider the two lines of code in **Block 1** and **Block 2**: the procedure for each block is identical. The ony thing that is different is the variable names and values.

### **Block 1**

In [27]:
# a and b calculation Block1

a1 = 4
b1 = 5
c1 = a1 + b1 +2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0
else:
    c1 = 5
c1

5

### **Block 2**

In [28]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0
else:
    c2 = 5
c2

0

We can replace the lines of code with a function. A function combines many instructions into a single line of code. Once afunctionis defined, it can be used repeatedly. You can invoke the samefunctionmany times in yourprogram. You can save your function and use it in another program or use someone elses function. The lines of code in code <b>Block 1</b> and code <b>Block 2</b> can be replaced by the following function:

In [29]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if (c < 0):
        c = 0
    else: 
        c = 5
    return(c)

This function takes two inputs, a and b, then applies several operations to return c.
We simply define the function, replace the instructions with the function, and input the new values of <code>a1</code>, <code>b1</code> and <code>a2</code>, <code>b2</code> as inputs. The entire process is demonstrated in the figure:

![FuncsPros.gif](attachment:a2e48a6d-0dc2-465b-b9ea-03301a802927.gif)<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsPros.gif" width="850">

#### Code **Blocks 1** and **Block 2** can now be replaced with code **Block 3** and code **Block 4**

### **Block 3**:

In [31]:
a1 = 4
b1 = 5
c1 = Equation(a1,b1)
c1

5

### **Block 4**:

In [32]:
a2 = 0
b2 = 0
c2 = Equation(a2,b2)
c2

0

## Pre-defined functions

#### There are many pre-defined functions in Python, so let's start with the simple ones.

#### The **print()** function:

In [33]:
# Build-in funtion print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

#### The **sum()** functions adds all the elements in a list or tuple:

In [34]:
# Use sum() to add every element in a llist or tuple together

sum(album_ratings)

70.0

#### The **len()** function returns the length of a list or tuple:

In [35]:
# Show the length of the list or tuple

len(album_ratings)

8

## Using **if/else** Statements and Loops in Functions

#### The **return()** function is particularly useful if you have any IF statemtents in the function, when you want your output to be dependent on some condition:

In [37]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

#### We can use a loop in a function. For example, we can **print** out each element in a list:

In [38]:
# Print the list using for loop

def Printlist(the_list):
    for element in the_list:
        print(element)

In [39]:
# Implement the printlist function

Printlist(['1', 1, 'the man', "abc"])

1
1
the man
abc

## Setting default argument values in your custom functions

#### You can set a default value for arguments in your function. For example, in the **isGoodRating()** function, what if we wanted to create a threshold for what we consider to be a good rating? Perhaps by default, we should have a default rating of 4:

In [40]:
# Example for setting param with default value

def isGoodRating(rating=4):
    if(rating < 7):
        print("this album sucks it's rating is", rating)
    else:
        print("this album is good it's rating is", rating)

In [41]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good it's rating is 10

## Global variables

#### So far, we've been creating variables **within** functions, but we have not discussed variables outside the function. These are called **global variables**. Let's try to see what **printer1** returns:

In [45]:
# Example of global variable

artist = "Micheal Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")

printer1(artist)
# try running the following code
#printer1(internal_var1)

Micheal Jackson is an artist

In [46]:
printer1(internal_var1)

NameError: name 'internal_var1' is not defined

## We got a Name Error: **name 'internal_var1' is not defined.** Why?

#### It's because all the variables we created in the function is a **local variable**, meaning that the variable assignment does not persist outside the function.

#### But there is a way to create **global variables** from within a function as follows:

In [47]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var
    internal_var = "Whtney Houston"
    print(artist, "is an artist")

printer(artist)
printer(internal_var)

Michael Jackson is an artist
Whtney Houston is an artist

## Scope of a Variable

#### the scope of a variable is the part of that program where that variable is accessible. Variables that are declared outside of all function definitions, such as the **myFavouriteBand** variable in the code shown here, are accessible from anywhere within the program. As a result, such variables are said to have global scope, and are know as global variables. **myFavouriteBand** is a global variable, so it is accessible from within the **getBandRating** function, and we can use it to determin a band's rating. We can also use it ouside of the function, such as when we pass it to the print function to display it:

In [48]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:", getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

Take a look at this modified version of our code. Now the <code>myFavouriteBand</code> variable is defined within the <code>getBandRating</code> function. A variable that is defined within a function is said to be a local variable of that function. That means that it is only accessible from within the function in which it is defined. Our <code>getBandRating</code> function will still work, because <code>myFavouriteBand</code> is still defined within the function. However, we can no longer print <code>myFavouriteBand</code> outside our function, because it is a local variable of our <code>getBandRating</code> function; it is only defined within the <code>getBandRating</code> function:

In [50]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0
    
print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0

NameError: name 'myFavouriteBand' is not defined

Finally, take a look at this example. We now have two <code>myFavouriteBand</code> variable definitions. The first one of these has a global scope, and the second of them is a local variable within the <code>getBandRating</code> function. Within the <code>getBandRating</code> function, the local variable takes precedence. **Deep Purple** will receive a rating of 10.0 when passed to the <code>getBandRating</code> function. However, outside of the <code>getBandRating</code> function, the <code>getBandRating</code> s local variable is not defined, so the <code>myFavouriteBand</code> variable we print is the global variable, which has a value of **AC/DC**:

In [53]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBane = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0
    
print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is: ", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0
My favourite band is:  AC/DC

## Collections and Functions

#### When the number of arguments are **unknown** for a function, they can all be packed into a tuple as shown:

In [55]:
def printAll(*args):  # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args))
    for argument in args:
        print(argument)
        
#printAll with 3 arguments
printAll('Horsefeather', 'Adonis', 'Bone')
#printAll with 4 arguments
printAll('Sidecar', 'Long Island', 'Mudslide', 'Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

#### Similarly, the arguments can also be packed into a dictionary as shown:

In [57]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])
printDictionary(Country = 'Canada', Province = 'Ontario', City = 'Toronto')

Country : Canada
Province : Ontario
City : Toronto

#### Functions can be incredibly powerful and versatile. They can accept (and return) data types, objects and even other functions as arguments. Consider the example below:

In [59]:
def addItems(list):
    list.append("Three")
    list.append("Four")
    
myList = ["One", "Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [60]:
type(myList)

list

In [61]:
type(addItems)

function

In [62]:
type(list)

type

Note how the changes made to the list are not limited to the function's scope. This occurs as it is the list's **reference** that is passed to the function - Any changes made are on the original instance of the list. Therefore, one should be cautious when passing mutable objects into functions.

<hr>

In [68]:
# Function that divides the first input by the second input:
def Div(a,b):
        return(a/b)

Div(10,2)

5.0

In [69]:
# Con function being used to add two integers or strings

def con(a,b):
    return(a + b)
con(2,2)

4

In [70]:
# Can con function above be used to concatenate lists or tuples?

#Yes, for example:
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]

In [71]:
len([sum([0,0,1])])

1