In [1]:
x = 20.5
print( type (x))

<class 'float'>

In [2]:
x = ["apple", "banana", "cherry"]
print ( type (x))

<class 'list'>

# Below is a Python Tuple example
## A Tuple is:
1. ordered, indexed collections of data. Similar to string indices (latin plural of index), the first value in the tuple will have the index [0], the second value [1], and so on.
2. can store duplicate values.
3. once data is assigned to a tuple, the values cannot be changed.
4. allow you to store several data items in one variable. you can choose to store only one kind of data in a tuple or mix it up as needed.

In [3]:
x = ( "apple" , "banana" , "cherry")
print ( type (x))

<class 'tuple'>

## Here are examples of declared tuples:

In [1]:
tuple1 = ( 1, 3, 5, 7, 9 );

tuple2 = "W" , "X" , "c" , "d";

tuple3 = ('bread' , 'cheese' , 1999, 2019);

print (tuple1 [0])
# Output: 1
print (tuple2 [0])
# Output: W
print (tuple3 [0])
# Output: bread

1
W
bread

## You can also create an empty tuple by putting no values between the brackets, like so:

In [2]:
tuple1 = ();

# Creating a tuple with just one value must include a comma entering the value before closing the bracket:

***tuple = ( 1, );***

## Here is an example of accessing a tuple using indexing (Python indexing starts with 0):

In [7]:
tuple1 = ( 1, 3, 5, 7, 9);
print (tuple1 [0])
# Output:1

1

## You can also put tuples inside of tuples. **Nesting tuples.** 
## To access a value of a tuple that is inside another tuple you **must chain the index operators like:**

In [13]:
tuple1 = (( 1, 3) ,  ( 5, 7));
print (tuple1 [0] [1])
print (tuple1 [1] [0])
# Output:
# 3
# 5

3
5

## Negative indexing
the index **"-1"** in tuples refers to the **last item** in the list, index ***"-2"*** refers to the ***second-last item***, and so on.

In [14]:
## Here is how you can use negative indexing to access tuuple elements in Python:

tuple1 = ( 1, 3, 5, 7 );
print (tuple1 [-1])
print (tuple1 [-2])
# Output:
# 7
# 5

7
5

# Slicing
Means accessing the elements using the slicing operatoor, which is the colon **(":")**

In [15]:
## Here is slicing

tuple1 = ( 'p', 'y', 't', 'h', 'o', 'n' );

# To print second to fourth elements
print (tuple1 [1 : 4])
# Output: ( 'y', 't', 'h' )

# To print elements from the beginning to the second value
print ( tuple1 [: -4 ])
# Output: ( 'p', 'y' )

# To print elements from the fourth element to the end
print ( tuple1 [ 3 : ])
# Output: ( 'h', 'o', 'n' )

# To print all elements from the beginning of the tuple to the end
print ( tuple1 [ : ])
# Output: ( 'p', 'y', 't', 'h', 'o', 'n' )

('y', 't', 'h')
('p', 'y')
('h', 'o', 'n')
('p', 'y', 't', 'h', 'o', 'n')

## Visualing the elements of a tuple below

# Elements: --------        p  y  t  h  o  n
# Index:        ----------- 0  1  2  3  4  5
# Negative Index:  -6 -5 -4 -3 -2 -1

## Primary

## Storing mutable lists in tuples
Here is and example:

In [18]:
tuple1 = ( 1, 2, 3, [4, 5] )

tuple1 [ 3 ] [ 0 ] = 7

print ( tuple1 )

# Output: ( 1, 2, 3, [ 7, 5 ] )

tuple1 [ 1 ] = 7
print (tuple1)

(1, 2, 3, [7, 5])

TypeError: 'tuple' object does not support item assignment